In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

        Data shape of df1 is (X, Y),
        Data shape of df2 is (X, Y), 
        Data shape of df3 is (X, Y)

In [2]:
df1 = pd.read_csv('https://raw.githubusercontent.com/the-learning-machine/data/master/tlm_project1/Automobile_data1.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/the-learning-machine/data/master/tlm_project1/Automobile_data2.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/the-learning-machine/data/master/tlm_project1/Automobile_data3.csv')

In [3]:
df3

,symboling,normalized-losses,manufacturer,fuel-type,aspiration,numofdoors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio1,horse-power,peak-rpm,city-mpg,highway-mpg,price
0,0,?,jaguar,gas,std,two,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.5,262,5000,13,17,36000
1,1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,30,31,5195
2,1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6095
3,1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6795
4,1,113,mazda,gas,std,four,sedan,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,102,subaru,gas,std,four,sedan,4wd,front,97.0,...,108,2bbl,3.62,2.64,9.0,82,4800,24,25,9233
96,0,102,subaru,gas,turbo,four,sedan,4wd,front,97.0,...,108,mpfi,3.62,2.64,7.7,111,4800,24,29,11259
97,0,89,subaru,gas,std,four,wagon,fwd,front,97.0,...,108,2bbl,3.62,2.64,9.0,82,4800,28,32,7463
98,0,89,subaru,gas,std,four,wagon,fwd,front,97.0,...,108,mpfi,3.62,2.64,9.0,94,5200,25,31,10198
99,0,85,subaru,gas,std,four,wagon,4wd,front,96.9,...,108,2bbl,3.62,2.64,9.0,82,4800,23,29,8013

In [5]:
print("Data shape of df1 is (X, Y)",df1.shape)
print("Data shape of df2 is (X, Y)",df2.shape)
print("Data shape of df3 is (X, Y)",df3.shape)

Data shape of df1 is (X, Y) (49, 26)
Data shape of df2 is (X, Y) (56, 26)
Data shape of df3 is (X, Y) (100, 26)

In [6]:
df = pd.concat([df1, df2],ignore_index=True)
res_df = pd.concat([df, df3],ignore_index =True)

/home/gaurav/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.
/home/gaurav/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [7]:
res_df.shape

(205, 34)

In [8]:
res_df

,aspiration,body-style,bor,bore,city-mpg,compression-ratio,compression-ratio1,curb-weight,drive-wheels,drive1wheels,...,num-of-cylinders,num-of-doors,numofdoors,peak-rpm,price,stroke,symb0ling,symboling,wheel-base,width
0,std,convertible,NaN,3.47,21,9.0,NaN,2548,rwd,NaN,...,four,two,NaN,5000,13495,2.68,NaN,3.0,88.6,64.1
1,std,convertible,NaN,3.47,21,9.0,NaN,2548,rwd,NaN,...,four,two,NaN,5000,16500,2.68,NaN,3.0,88.6,64.1
2,std,hatchback,NaN,2.68,19,9.0,NaN,2823,rwd,NaN,...,six,two,NaN,5000,16500,3.47,NaN,1.0,94.5,65.5
3,std,sedan,NaN,3.19,24,10.0,NaN,2337,fwd,NaN,...,four,four,NaN,5500,13950,3.4,NaN,2.0,99.8,66.2
4,std,sedan,NaN,3.19,18,8.0,NaN,2824,4wd,NaN,...,five,four,NaN,5500,17450,3.4,NaN,2.0,99.4,66.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,std,sedan,NaN,3.62,24,NaN,9.0,2385,4wd,NaN,...,four,NaN,four,4800,9233,2.64,NaN,0.0,97.0,65.4
201,turbo,sedan,NaN,3.62,24,NaN,7.7,2510,4wd,NaN,...,four,NaN,four,4800,11259,2.64,NaN,0.0,97.0,65.4
202,std,wagon,NaN,3.62,28,NaN,9.0,2290,fwd,NaN,...,four,NaN,four,4800,7463,2.64,NaN,0.0,97.0,65.4
203,std,wagon,NaN,3.62,25,NaN,9.0,2455,fwd,NaN,...,four,NaN,four,5200,10198,2.64,NaN,0.0,97.0,65.4
204,std,wagon,NaN,3.62,23,NaN,9.0,2420,4wd,NaN,...,four,NaN,four,4800,8013,2.64,NaN,0.0,96.9,65.4

In [9]:
def uni(col):
    uniq = []
    for i in range(0,204):
        #print(res_df[col][i])
        if res_df[col][i] not in uniq:
            uniq.append(res_df[col][i])
        else:
            continue
    return uniq
for i in res_df.columns:
    print(i, uni(i))
    print()

aspiration ['std', 'turbo']

body-style ['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop']

bor [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 3.62, 3.05, 3.19, 3.27, 3.24, 3.31, 3.01, 3.78, 3.58, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

bore [3.47, 2.68, 3.19, 3.13, 3.5, 3.31, 3.62, 2.91, 3.03, 2.97, 3.34, 3.6, 2.92, 3.15, 3.43, 3.63, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '3.54', '3.03', '3.08', '?', '3.39', '3.76', '3.43', '3.58', '3.46', '3.8', '3.78', '2.97', '3.17', '3.35', '3.59', '3.15', '2.99', '3.33', '3.7', '3.61', '3.94', '3.74', '2.54', '3.62']

city-mpg [21, 19, 24, 18, 17, 16, 23, 20, 15, 47, 38, 37, 31, 49, 30, 27, 25, 35, 34, 28, 29, 26, 33, 13, 36, 22, 14, 45, 32]

compression-ratio [9.0, 10.0, 8.0, 8.5, 8.3, 7.0, 8.8, 9.5, 9.6, 9.41, 9.4, 7.6, 9.2, 10.1, 9.1, 8.1, 7.7, 22.5, 9.3, 8.7, 23.0, 7.5, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

compression-ratio1 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 11.5, 9.0, 9.4, 8.6, 22.7, 8.0, 22.0, 21.5, 8.3, 7.6, 7.5, 8.5, 7.0, 21.9, 7.8, 8.4, 21.0, 9.5, 10.0, 8.7, 9.31, 9.3, 7.7]

curb-weight [2548, 2823, 2337, 2824, 2507, 2844, 2954, 3086, 3053, 2395, 2710, 2765, 3055, 3230, 3380, 3505, 1488, 1874, 1909, 1876, 2128, 1967, 1989, 2191, 2535, 2811, 1713, 1819, 1837, 1940, 1956, 2010, 2024, 2236, 2289, 2304, 2372, 2465, 2293, 2734, 4066, 2650, 1985, 2040, 2015, 2280, 2290, 3110, 2081, 2109, 2275, 2094, 2122, 2140, 2169, 2204, 2265, 2300, 2540, 2536, 2551, 2679, 2714, 2975, 2326, 2480, 2414, 2458, 2976, 3016, 3131, 3151, 2261, 2209, 2264, 2212, 2319, 2254, 2221, 2661, 2579, 2563, 2912, 3034, 2935, 3042, 3045, 3157, 2952, 3049, 3012, 3217, 3062, 3950, 1890, 1900, 1905, 1945, 1950, 2380, 2385, 2500, 2410, 2443, 2425, 2670, 2700, 3515, 3750, 3495, 3770, 3740, 3685, 3900, 3715, 2910, 1918, 1944, 2004, 2145, 2370, 2328, 2833, 2921, 2926, 2365, 2405, 2403, 1889, 2017, 1938, 1951, 2028, 1971, 2037, 2008, 2324, 2302, 3095, 3296, 3060, 3071, 3139, 3020, 3197, 3430, 3075, 3252, 3285, 3485, 3130, 2818, 2778, 2756, 2800, 3366, 2460, 2658, 2695, 2707, 2758, 2808, 2847, 2050, 2120, 2240, 2190, 2340, 2510, 2455]

drive-wheels ['rwd', 'fwd', '4wd', nan]

drive1wheels [nan, '4wd', 'fwd', 'rwd']

engine-location ['front', 'rear']

engine-size [130.0, 152.0, 109.0, 136.0, 131.0, 108.0, 164.0, 209.0, 61.0, 90.0, 98.0, 122.0, 156.0, 92.0, 79.0, 110.0, 111.0, 119.0, 258.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 326.0, 91.0, 70.0, 80.0, 140.0, 134.0, 183.0, 234.0, 308.0, 304.0, 97.0, 103.0, 120.0, 181.0, 151.0, 194.0, 203.0, 132.0, 121.0]

engine-sizeee [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 108.0, 92.0, 98.0, 110.0, 146.0, 122.0, 171.0, 161.0, 97.0, 109.0, 136.0, 141.0, 130.0, 173.0, 145.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

engine-type ['dohc', 'ohcv', 'ohc', 'l', 'ohcf', 'rotor', 'dohcv']

fuel-system ['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', 'idi', '4bbl', 'spdi']

fuel-type ['gas', 'diesel']

height [48.8, 52.4, 54.3, 53.1, 55.7, 55.9, 52.0, 53.7, 56.3, 53.2, 50.8, 50.6, 59.8, 50.2, 52.6, 54.5, 58.3, 53.3, 54.1, 51.0, 53.5, 51.4, 52.8, 54.9, 59.1, 53.0, 53.9, 55.6, 55.1, 56.2, 57.5, 55.5, 47.8, 49.6, 54.4, 56.5, 58.7, 56.7, 55.4, 54.8, 49.4, 51.6, 54.7, 56.1, 49.7, 56.0, 50.5, 55.2, 52.5]

highway-mpg [27, 26, 30, 22, 25, 20, 29, 28, 53, 43, 41, 38, 24, 54, 42, 34, 33, 31, 19, 23, 39, 37, 32, 36, 47, 46, 17, 18, 16, 50]

horse-power [nan, '262', '68', '101', '135', '84', '64', '120', '72', '123', '155', '184', '175', '102', '116', '88', '145', '69', '55', '97', '152', '160', '200', '95', '142', '143', '207', '288', '?', '110', '73', '82', '94', '111']

horsepower [111.0, 154.0, 102.0, 115.0, 110.0, 140.0, 160.0, 101.0, 121.0, 182.0, 48.0, 70.0, 68.0, 88.0, 145.0, 58.0, 76.0, 60.0, 86.0, 100.0, 78.0, 90.0, 176.0, 62.0, 56.0, 112.0, 116.0, 92.0, 73.0, 161.0, 156.0, 52.0, 85.0, 114.0, 162.0, 134.0, 106.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

length [168.8, 171.2, 176.6, 177.3, 192.7, 178.2, 176.8, 189.0, 193.8, 197.0, 141.1, 155.9, 158.8, 157.3, 174.6, 173.2, 144.6, 150.0, 163.4, 157.1, 167.5, 175.4, 169.1, 170.7, 172.6, 199.6, 173.6, 158.7, 169.7, 166.3, 168.7, 176.2, 175.6, 183.5, 187.8, 171.7, 159.3, 165.7, 180.2, 183.1, 188.8, 191.7, 159.1, 166.8, 169.0, 177.8, 175.0, 190.9, 187.5, 202.6, 180.3, 208.1, 199.2, 178.4, 173.0, 172.4, 165.3, 170.2, 165.6, 162.4, 173.4, 181.7, 184.6, 178.5, 186.7, 198.9, 167.3, 168.9, 175.7, 181.5, 186.6, 156.9, 157.9, 172.0, 173.5]

make ['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda', 'isuzu', 'jaguar', 'subaru', 'toyota', 'volkswagen', 'volvo', nan]

manufacturer [nan, 'jaguar', 'mazda', 'mercedes-benz', 'mercury', 'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault', 'saab', 'subaru']

normalized-losses ['?', '164', '158', '192', '188', '121', '98', '81', '118', '148', '110', '145', '137', '101', '78', '106', '85', '107', '87', '74', '77', '91', '168', '134', '65', '197', '90', '122', '94', '256', '103', '95', '104', '113', '150', '129', '115', '93', '142', '161', '153', '125', '128', '108', '194', '231', '119', '154', '186', '83', '102', '89']

num-of-cylinders ['four', 'six', 'five', 'three', 'twelve', 'two', 'eight']

num-of-doors ['two', 'four', '?', nan]

numofdoors [nan, 'two', 'four', '?']

peak-rpm [5000, 5500, 5800, 4250, 5400, 5100, 4800, 6000, 4750, 4500, 6600, 4200, 5200, 5250, 5300, '5000', '6000', '4800', '4650', '4200', '4350', '4750', '4500', '5500', '5200', '4150', '5600', '5900', '5750', '?', '5250', '4900', '4400']

price ['13495', '16500', '13950', '17450', '15250', '17710', '18920', '23875', '?', '16430', '16925', '20970', '21105', '24565', '30760', '41315', '36880', '5151', '6295', '6575', '5572', '6377', '7957', '6229', '6692', '7609', '8558', '8921', '12964', '6479', '6855', '5399', '6529', '7129', '7295', '7895', '9095', '8845', '10295', '12945', '10345', '6785', '11048', '32250', '35550', 11694, 5348, 6338, 6488, 6918, 7898, 8778, 6938, 7198, 7788, 7738, 8358, 9258, 8058, 8238, 9298, 9538, 8449, 9639, 9989, 11199, 11549, 17669, 8948, 10698, 9988, 10898, 11248, 16558, 15998, 15690, 15750, 7775, 7975, 7995, 8195, 8495, 9495, 9995, 11595, 9980, 13295, 13845, 12290, 12940, 13415, 15985, 16515, 18420, 18950, 16845, 19045, 21485, 22470, 22625, '36000', '5195', '6095', '6795', '6695', '7395', '10945', '11845', '13645', '15645', '8495', '10595', '10245', '10795', '11245', '18280', '18344', '25552', '28248', '28176', '31600', '34184', '35056', '40960', '45400', '16503', '5389', '6189', '6669', '7689', '9959', '8499', '12629', '14869', '14489', '6989', '8189', '9279', '5499', '7099', '6649', '6849', '7349', '7299', '7799', '7499', '7999', '8249', '8949', '9549', '13499', '14399', '17199', '19699', '18399', '11900', '13200', '12440', '13860', '15580', '16900', '16695', '17075', '16630', '17950', '18150', '12764', '22018', '32528', '34028', '37028', '9295', '9895', '11850', '12170', '15040', '15510', '18620', '5118', '7053', '7603', '7126', '7775', '9960', '9233', '11259', '7463', '10198']

stroke [2.68, 3.47, 3.4, 2.8, 3.19, 3.39, 3.03, 3.11, 3.23, 3.46, 3.9, 3.41, 3.07, 3.58, 4.17, 2.64, 3.35, 3.08, 3.5, 3.54, 3.15, 2.87, '2.76', '3.15', '?', '3.39', '3.16', '3.64', '3.1', '3.35', '3.12', '3.23', '3.46', '3.86', '3.29', '3.47', '3.27', '3.19', '3.52', '2.19', '3.21', '3.11', '2.9', '3.9', '3.07', '2.07', '2.36', '2.64']

symb0ling [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.0, 1.0, 2.0, -1.0, 3.0, -2.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

symboling [3.0, 1.0, 2.0, 0.0, -1.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

wheel-base [88.6, 94.5, 99.8, 99.4, 105.8, 99.5, 101.2, 103.5, 110.0, 88.4, 93.7, 103.3, 95.9, 86.6, 96.5, 94.3, 96.0, 113.0, 96.9, 95.7, 98.4, 102.4, 102.9, 104.5, 97.3, 100.4, 104.3, 109.1, 102.0, 93.1, 95.3, 98.8, 104.9, 106.7, 115.6, 96.6, 120.9, 112.0, 102.7, 93.0, 96.3, 95.1, 97.2, 91.3, 99.2, 107.9, 114.2, 108.0, 89.5, 96.1, 99.1, 93.3, 97.0]

width [64.1, 65.5, 66.2, 66.4, 66.3, 71.4, 67.9, 64.8, 66.9, 70.9, 60.3, 63.6, 63.8, 64.6, 63.9, 64.0, 65.2, 62.5, 66.0, 61.8, 69.6, 65.4, 64.4, 65.6, 66.5, 67.7, 64.2, 67.2, 68.9, 68.8, 70.6, 65.7, 66.1, 70.3, 71.7, 70.5, 72.0, 68.0, 68.4, 68.3, 65.0, 72.3, 66.6, 63.4]

In [10]:
ncols = []
cols = []
rescols = []
for i in res_df.columns:
    if res_df[i].isnull().sum() != 0:
        ncols.append(i)
for i in res_df.columns:
    cols.append(i)
for i in cols:
    if i not in ncols:
        rescols.append(i)   

nfloat = []
nobj = []
for i in ncols:
    if res_df[i].dtype == 'float64':
        nfloat.append(i)
    else:
        nobj.append(i)
for i in nfloat:
    res_df[i].fillna(0, inplace = True)
for i in nobj:
    res_df[i].fillna('None', inplace = True)
res_df.isnull().sum()

exc = ['?','!']
for i in cols:
    for j in range(0,204):
        if res_df[i][j] in exc:
            res_df[i][j] = 'None'

lis = []
for i in cols:
    for j in range(0,204):
        if res_df[i][j] in exc:
            lis.append(i)
lis

/home/gaurav/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

[]

In [38]:
for i in range(len(res_df)):
    res_df['price'][i] = res_df['price'][i] / 1000

/home/gaurav/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [39]:
res_df['price'].unique()

array([13.495, 16.5  , 13.95 , 17.45 , 15.25 , 17.71 , 18.92 , 23.875,
        0.   , 16.43 , 16.925, 20.97 , 21.105, 24.565, 30.76 , 41.315,
       36.88 ,  5.151,  6.295,  6.575,  5.572,  6.377,  7.957,  6.229,
        6.692,  7.609,  8.558,  8.921, 12.964,  6.479,  6.855,  5.399,
        6.529,  7.129,  7.295,  7.895,  9.095,  8.845, 10.295, 12.945,
       10.345,  6.785, 11.048, 32.25 , 35.55 , 11.694,  5.348,  6.338,
        6.488,  6.918,  7.898,  8.778,  6.938,  7.198,  7.788,  7.738,
        8.358,  9.258,  8.058,  8.238,  9.298,  9.538,  8.449,  9.639,
        9.989, 11.199, 11.549, 17.669,  8.948, 10.698,  9.988, 10.898,
       11.248, 16.558, 15.998, 15.69 , 15.75 ,  7.775,  7.975,  7.995,
        8.195,  8.495,  9.495,  9.995, 11.595,  9.98 , 13.295, 13.845,
       12.29 , 12.94 , 13.415, 15.985, 16.515, 18.42 , 18.95 , 16.845,
       19.045, 21.485, 22.47 , 22.625, 36.   ,  5.195,  6.095,  6.795,
        6.695,  7.395, 10.945, 11.845, 13.645, 15.645, 10.595, 10.245,
       10.795, 11.245, 18.28 , 18.344, 25.552, 28.248, 28.176, 31.6  ,
       34.184, 35.056, 40.96 , 45.4  , 16.503,  5.389,  6.189,  6.669,
        7.689,  9.959,  8.499, 12.629, 14.869, 14.489,  6.989,  8.189,
        9.279,  5.499,  7.099,  6.649,  6.849,  7.349,  7.299,  7.799,
        7.499,  7.999,  8.249,  8.949,  9.549, 13.499, 14.399, 17.199,
       19.699, 18.399, 11.9  , 13.2  , 12.44 , 13.86 , 15.58 , 16.9  ,
       16.695, 17.075, 16.63 , 17.95 , 18.15 , 12.764, 22.018, 32.528,
       34.028, 37.028,  9.295,  9.895, 11.85 , 12.17 , 15.04 , 15.51 ,
       18.62 ,  5.118,  7.053,  7.603,  7.126,  9.96 ,  9.233, 11.259,
        7.463, 10.198,  8.013])

In [33]:
for i in range(len(res_df)):
    res_df['peak-rpm'][i] = float(res_df['peak-rpm'][i])

/home/gaurav/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [41]:
for i in range(len(res_df)):
    if res_df['stroke'][i] == 'None':
        res_df['stroke'][i] = 0

/home/gaurav/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [42]:
res_df['stroke'] = res_df['stroke'].astype('float64')
res_df.dtypes

aspiration             object
body-style             object
bor                   float64
bore                  float64
city-mpg                int64
compression-ratio     float64
compression-ratio1    float64
curb-weight             int64
drive-wheels           object
drive1wheels           object
engine-location        object
engine-size           float64
engine-sizeee         float64
engine-type            object
fuel-system            object
fuel-type              object
height                float64
highway-mpg             int64
horse-power           float64
horsepower            float64
length                float64
make                   object
manufacturer           object
normalized-losses     float64
num-of-cylinders       object
num-of-doors           object
numofdoors             object
peak-rpm              float64
price                 float64
stroke                float64
symb0ling             float64
symboling             float64
wheel-base            float64
width                 float64
dtype: object

In [43]:
for i in res_df.columns:
    print(i, ':', res_df[i].unique(), res_df[i].dtype)

aspiration : ['std' 'turbo'] object
body-style : ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop'] object
bor : [0.   3.62 3.05 3.19 3.27 3.24 3.31 3.01 3.78 3.58] float64
bore : [3.47 2.68 3.19 3.13 3.5  3.31 3.62 2.91 3.03 2.97 3.34 3.6  2.92 3.15
 3.43 3.63 0.   3.54 3.08 3.39 3.76 3.58 3.46 3.8  3.78 3.17 3.35 3.59
 2.99 3.33 3.7  3.61 3.94 3.74 2.54] float64
city-mpg : [21 19 24 18 17 16 23 20 15 47 38 37 31 49 30 27 25 35 34 28 29 26 33 13
 36 22 14 45 32] int64
compression-ratio : [ 9.   10.    8.    8.5   8.3   7.    8.8   9.5   9.6   9.41  9.4   7.6
  9.2  10.1   9.1   8.1   7.7  22.5   9.3   8.7  23.    7.5   0.  ] float64
compression-ratio1 : [ 0.   11.5   9.    9.4   8.6  22.7   8.   22.   21.5   8.3   7.6   7.5
  8.5   7.   21.9   7.8   8.4  21.    9.5  10.    8.7   9.31  9.3   7.7 ] float64
curb-weight : [2548 2823 2337 2824 2507 2844 2954 3086 3053 2395 2710 2765 3055 3230
 3380 3505 1488 1874 1909 1876 2128 1967 1989 2191 2535 2811 1713 1819
 1837 1940 1956 2010 2024 2236 2289 2304 2372 2465 2293 2734 4066 2650
 1985 2040 2015 2280 2290 3110 2081 2109 2275 2094 2122 2140 2169 2204
 2265 2300 2540 2536 2551 2679 2714 2975 2326 2480 2414 2458 2976 3016
 3131 3151 2261 2209 2264 2212 2319 2254 2221 2661 2579 2563 2912 3034
 2935 3042 3045 3157 2952 3049 3012 3217 3062 3950 1890 1900 1905 1945
 1950 2380 2385 2500 2410 2443 2425 2670 2700 3515 3750 3495 3770 3740
 3685 3900 3715 2910 1918 1944 2004 2145 2370 2328 2833 2921 2926 2365
 2405 2403 1889 2017 1938 1951 2028 1971 2037 2008 2324 2302 3095 3296
 3060 3071 3139 3020 3197 3430 3075 3252 3285 3485 3130 2818 2778 2756
 2800 3366 2460 2658 2695 2707 2758 2808 2847 2050 2120 2240 2190 2340
 2510 2455 2420] int64
drive-wheels : ['rwd' 'fwd' '4wd' 'None'] object
drive1wheels : ['None' '4wd' 'fwd' 'rwd'] object
engine-location : ['front' 'rear'] object
engine-size : [130. 152. 109. 136. 131. 108. 164. 209.  61.  90.  98. 122. 156.  92.
  79. 110. 111. 119. 258.   0. 326.  91.  70.  80. 140. 134. 183. 234.
 308. 304.  97. 103. 120. 181. 151. 194. 203. 132. 121.] float64
engine-sizeee : [  0. 108.  92.  98. 110. 146. 122. 171. 161.  97. 109. 136. 141. 130.
 173. 145.] float64
engine-type : ['dohc' 'ohcv' 'ohc' 'l' 'ohcf' 'rotor' 'dohcv'] object
fuel-system : ['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' 'idi' '4bbl' 'spdi'] object
fuel-type : ['gas' 'diesel'] object
height : [48.8 52.4 54.3 53.1 55.7 55.9 52.  53.7 56.3 53.2 50.8 50.6 59.8 50.2
 52.6 54.5 58.3 53.3 54.1 51.  53.5 51.4 52.8 54.9 59.1 53.  53.9 55.6
 55.1 56.2 57.5 55.5 47.8 49.6 54.4 56.5 58.7 56.7 55.4 54.8 49.4 51.6
 54.7 56.1 49.7 56.  50.5 55.2 52.5] float64
highway-mpg : [27 26 30 22 25 20 29 28 53 43 41 38 24 54 42 34 33 31 19 23 39 37 32 36
 47 46 17 18 16 50] int64
horse-power : [  0. 262.  68. 101. 135.  84.  64. 120.  72. 123. 155. 184. 175. 102.
 116.  88. 145.  69.  55.  97. 152. 160. 200.  95. 142. 143. 207. 288.
 110.  73.  82.  94. 111.] float64
horsepower : [111. 154. 102. 115. 110. 140. 160. 101. 121. 182.  48.  70.  68.  88.
 145.  58.  76.  60.  86. 100.  78.  90. 176.  62.  56. 112. 116.  92.
  73. 161. 156.  52.  85. 114. 162. 134. 106.   0.] float64
length : [168.8 171.2 176.6 177.3 192.7 178.2 176.8 189.  193.8 197.  141.1 155.9
 158.8 157.3 174.6 173.2 144.6 150.  163.4 157.1 167.5 175.4 169.1 170.7
 172.6 199.6 173.6 158.7 169.7 166.3 168.7 176.2 175.6 183.5 187.8 171.7
 159.3 165.7 180.2 183.1 188.8 191.7 159.1 166.8 169.  177.8 175.  190.9
 187.5 202.6 180.3 208.1 199.2 178.4 173.  172.4 165.3 170.2 165.6 162.4
 173.4 181.7 184.6 178.5 186.7 198.9 167.3 168.9 175.7 181.5 186.6 156.9
 157.9 172.  173.5] float64
make : ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'subaru' 'toyota' 'volkswagen' 'volvo' 'None'] object
manufacturer : ['None' 'jaguar' 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan'
 'peugot' 'plymouth' 'porsche' 'renault' 'saab' 'subaru'] object
normalized-losses : [  0. 164. 158. 192. 188. 121.  98.  81. 118. 148. 110. 145. 137. 101.
  78. 106.  85. 107.  87.  74.  77.  91. 168. 134.  65. 197.  90. 122.
  94. 256. 103.  95. 104. 113. 150. 129. 115.  93. 142. 161. 153. 125.
 128. 108. 194. 231. 119. 154. 186.  83. 102.  89.] float64
num-of-cylinders : ['four' 'six' 'five' 'three' 'twelve' 'two' 'eight'] object
num-of-doors : ['two' 'four' 'None'] object
numofdoors : ['None' 'two' 'four'] object
peak-rpm : [5000. 5500. 5800. 4250. 5400. 5100. 4800. 6000. 4750. 4500. 6600. 4200.
 5200. 5250. 5300. 4650. 4350. 4150. 5600. 5900. 5750.    0. 4900. 4400.] float64
price : [13.495 16.5   13.95  17.45  15.25  17.71  18.92  23.875  0.    16.43
 16.925 20.97  21.105 24.565 30.76  41.315 36.88   5.151  6.295  6.575
  5.572  6.377  7.957  6.229  6.692  7.609  8.558  8.921 12.964  6.479
  6.855  5.399  6.529  7.129  7.295  7.895  9.095  8.845 10.295 12.945
 10.345  6.785 11.048 32.25  35.55  11.694  5.348  6.338  6.488  6.918
  7.898  8.778  6.938  7.198  7.788  7.738  8.358  9.258  8.058  8.238
  9.298  9.538  8.449  9.639  9.989 11.199 11.549 17.669  8.948 10.698
  9.988 10.898 11.248 16.558 15.998 15.69  15.75   7.775  7.975  7.995
  8.195  8.495  9.495  9.995 11.595  9.98  13.295 13.845 12.29  12.94
 13.415 15.985 16.515 18.42  18.95  16.845 19.045 21.485 22.47  22.625
 36.     5.195  6.095  6.795  6.695  7.395 10.945 11.845 13.645 15.645
 10.595 10.245 10.795 11.245 18.28  18.344 25.552 28.248 28.176 31.6
 34.184 35.056 40.96  45.4   16.503  5.389  6.189  6.669  7.689  9.959
  8.499 12.629 14.869 14.489  6.989  8.189  9.279  5.499  7.099  6.649
  6.849  7.349  7.299  7.799  7.499  7.999  8.249  8.949  9.549 13.499
 14.399 17.199 19.699 18.399 11.9   13.2   12.44  13.86  15.58  16.9
 16.695 17.075 16.63  17.95  18.15  12.764 22.018 32.528 34.028 37.028
  9.295  9.895 11.85  12.17  15.04  15.51  18.62   5.118  7.053  7.603
  7.126  9.96   9.233 11.259  7.463 10.198  8.013] float64
stroke : [2.68 3.47 3.4  2.8  3.19 3.39 3.03 3.11 3.23 3.46 3.9  3.41 3.07 3.58
 4.17 2.64 3.35 3.08 3.5  3.54 3.15 2.87 2.76 0.   3.16 3.64 3.1  3.12
 3.86 3.29 3.27 3.52 2.19 3.21 2.9  2.07 2.36] float64
symb0ling : [ 0.  1.  2. -1.  3. -2.] float64
symboling : [ 3.  1.  2.  0. -1.] float64
wheel-base : [ 88.6  94.5  99.8  99.4 105.8  99.5 101.2 103.5 110.   88.4  93.7 103.3
  95.9  86.6  96.5  94.3  96.  113.   96.9  95.7  98.4 102.4 102.9 104.5
  97.3 100.4 104.3 109.1 102.   93.1  95.3  98.8 104.9 106.7 115.6  96.6
 120.9 112.  102.7  93.   96.3  95.1  97.2  91.3  99.2 107.9 114.2 108.
  89.5  96.1  99.1  93.3  97. ] float64
width : [64.1 65.5 66.2 66.4 66.3 71.4 67.9 64.8 66.9 70.9 60.3 63.6 63.8 64.6
 63.9 64.  65.2 62.5 66.  61.8 69.6 65.4 64.4 65.6 66.5 67.7 64.2 67.2
 68.9 68.8 70.6 65.7 66.1 70.3 71.7 70.5 72.  68.  68.4 68.3 65.  72.3
 66.6 63.4] float64

In [44]:
avg_make = res_df.groupby('make').agg({'price': np.mean, 'engine-size': np.mean, 'bore': np.mean, 'stroke': np.mean, 'peak-rpm': np.mean})
avg_make

                 price  engine-size      bore    stroke     peak-rpm
make
None         13.634340   132.100000  3.270700  3.085800  4967.500000
alfa-romero  15.498333   137.333333  3.206667  2.943333  5000.000000
audi         15.307857   130.714286  3.172857  3.400000  5500.000000
bmw          26.118750   166.875000  3.473750  3.167500  5068.750000
chevrolet     6.007000    80.333333  2.990000  3.083333  5300.000000
dodge         7.875444   102.666667  3.094444  3.365556  5388.888889
honda         8.184692    99.307692  3.021538  3.462308  5753.846154
isuzu         4.458250   102.500000  3.200000  3.170000  5150.000000
jaguar       33.900000   258.000000  3.630000  4.170000  4750.000000
subaru       11.694000     0.000000  0.000000  2.640000  4800.000000
toyota        9.885813     0.000000  0.000000  3.255000  4859.375000
volkswagen   10.077500     0.000000  0.000000  3.400000  5154.166667
volvo        18.063182     0.000000  0.000000  3.147273  5290.909091

In [45]:
styles = res_df.groupby(['body-style','make']).agg({'price': np.mean, 'engine-size': np.mean, 'bore' : np.mean, 'stroke': np.mean})
styles

                             price  engine-size      bore    stroke
body-style  make
convertible None         36.042000   214.000000  3.600000  3.000000
            alfa-romero  14.997500   130.000000  3.470000  2.680000
            toyota       17.669000     0.000000  0.000000  3.500000
            volkswagen   11.595000     0.000000  0.000000  3.400000
hardtop     None         29.676200   194.400000  3.602000  3.216000
            toyota        9.762333     0.000000  0.000000  3.500000
hatchback   None         10.658632   118.394737  2.984474  2.909737
            alfa-romero  16.500000   152.000000  2.680000  3.470000
            audi          0.000000   131.000000  3.130000  3.400000
            chevrolet     5.723000    75.500000  2.970000  3.070000
            dodge         7.819800   104.800000  3.108000  3.396000
            honda         7.054429    95.285714  2.978571  3.410000
            isuzu        11.048000   119.000000  3.430000  3.230000
            toyota        9.616000     0.000000  0.000000  3.242143
            volkswagen    9.980000     0.000000  0.000000  3.400000
sedan       None         13.713952   134.071429  3.408333  3.208095
            audi         17.647000   129.600000  3.178000  3.400000
            bmw          26.118750   166.875000  3.473750  3.167500
            chevrolet     6.575000    90.000000  3.030000  3.110000
            dodge         7.619667    92.666667  2.990000  3.283333
            honda         9.945000   106.400000  3.102000  3.546000
            isuzu         2.261667    97.000000  3.123333  3.150000
            jaguar       33.900000   258.000000  3.630000  4.170000
            toyota        9.542200     0.000000  0.000000  3.233000
            volkswagen    9.673889     0.000000  0.000000  3.400000
            volvo        18.726875     0.000000  0.000000  3.146250
wagon       None         12.458077   129.230769  3.484615  3.168462
            audi         18.920000   136.000000  3.190000  3.400000
            dodge         8.921000   122.000000  3.340000  3.460000
            honda         7.295000    92.000000  2.920000  3.410000
            subaru       11.694000     0.000000  0.000000  2.640000
            toyota        9.836000     0.000000  0.000000  3.110000
            volkswagen   12.290000     0.000000  0.000000  3.400000
            volvo        16.293333     0.000000  0.000000  3.150000

In [46]:
total_price = res_df.groupby('make').agg({'price' : np.sum})
total_price

                price
make
None         1363.434
alfa-romero    46.495
audi          107.155
bmw           208.950
chevrolet      18.021
dodge          70.879
honda         106.401
isuzu          17.833
jaguar         67.800
subaru         11.694
toyota        316.346
volkswagen    120.930
volvo         198.695

In [105]:
y = res_df['price']
X = res_df.loc[:,['horsepower','engine-size','peak-rpm','bore','length','highway-mpg','curb-weight']]
X.shape
from sklearn.feature_selection import SelectKBest
kbest = SelectKBest(k = 2)
X_new = kbest.fit_transform(X, y)
kbest.get_params()

{'k': 2,
 'score_func': <function sklearn.feature_selection.univariate_selection.f_classif(X, y)>}

In [97]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_new, y, random_state = 42)

In [98]:
X_train

array([[5500. ,  165.7],
       [5600. ,  186.7],
       [5500. ,  183.1],
       [5500. ,  177.3],
       [5000. ,  186.7],
       [4800. ,  166.3],
       [4750. ,  180.3],
       [4200. ,  175.6],
       [5500. ,  172.4],
       [5400. ,  188.8],
       [5500. ,  167.3],
       [4200. ,  175.6],
       [5500. ,  157.3],
       [6000. ,  144.6],
       [4250. ,  176.8],
       [6000. ,  163.4],
       [4350. ,  187.5],
       [5500. ,  169.1],
       [5200. ,  173.4],
       [5500. ,  173. ],
       [5000. ,  173.2],
       [4800. ,  158.7],
       [6000. ,  169. ],
       [4150. ,  198.9],
       [5800. ,  175.4],
       [4350. ,  190.9],
       [5200. ,  183.5],
       [4650. ,  177.8],
       [5500. ,  157.3],
       [5000. ,  173. ],
       [4800. ,  172. ],
       [4800. ,  177.8],
       [5000. ,  171.2],
       [4200. ,  175.6],
       [5000. ,  172.6],
       [4200. ,  175. ],
       [4750. ,  202.6],
       [5250. ,  171.7],
       [5000. ,  173.2],
       [6000. ,  157.1],
       [6000. ,  169. ],
       [4800. ,  166.3],
       [5500. ,  157.3],
       [5500. ,  157.3],
       [5500. ,  186.6],
       [6000. ,  150. ],
       [5800. ,  176.8],
       [5200. ,  172. ],
       [5000. ,  186.7],
       [5500. ,  192.7],
       [5500. ,  157.3],
       [4350. ,  202.6],
       [4400. ,  157.3],
       [5000. ,  172.4],
       [5500. ,  176.6],
       [5500. ,  150. ],
       [5000. ,  166.8],
       [   0. ,  176.8],
       [4800. ,  177.8],
       [5200. ,  165.3],
       [5800. ,  176.8],
       [4800. ,  166.3],
       [4800. ,  177.8],
       [5200. ,  165.3],
       [4150. ,  198.9],
       [5000. ,  168.8],
       [5900. ,  168.9],
       [5900. ,  168.9],
       [4800. ,  176.2],
       [5200. ,  173.5],
       [4800. ,  168.7],
       [5400. ,  155.9],
       [5000. ,  198.9],
       [5000. ,  174.6],
       [5800. ,  175.4],
       [5000. ,  159.1],
       [4350. ,  190.9],
       [5500. ,  157.3],
       [5200. ,  173.4],
       [5250. ,  186.6],
       [5200. ,  187.8],
       [5800. ,  175.4],
       [4150. ,  186.7],
       [4750. ,  199.6],
       [5400. ,  188.8],
       [5200. ,  184.6],
       [4800. ,  170.7],
       [5000. ,  172.4],
       [5500. ,  176.6],
       [5000. ,  191.7],
       [4800. ,  169.7],
       [5500. ,  157.3],
       [5750. ,  175.7],
       [5200. ,  170.7],
       [5250. ,  186.6],
       [4800. ,  173.6],
       [5200. ,  187.8],
       [6000. ,  150. ],
       [5500. ,  192.7],
       [5000. ,  166.8],
       [5500. ,  180.2],
       [5250. ,  171.7],
       [5500. ,  168.9],
       [   0. ,  181.5],
       [5500. ,  159.3],
       [5500. ,  192.7],
       [4250. ,  176.8],
       [4500. ,  166.3],
       [5500. ,  157.3],
       [5000. ,  178.4],
       [5400. ,  197. ],
       [4800. ,  176.2],
       [5000. ,  173.2],
       [5500. ,  157.3],
       [5000. ,  186.7],
       [4400. ,  172. ],
       [4800. ,  168.7],
       [4800. ,  169.7],
       [5000. ,  159.1],
       [4800. ,  158.7],
       [4800. ,  172. ],
       [5000. ,  198.9],
       [4500. ,  166.3],
       [4750. ,  199.6],
       [5500. ,  171.7],
       [5500. ,  157.3],
       [4800. ,  166.3],
       [5200. ,  170.7],
       [4800. ,  172. ],
       [4500. ,  208.1],
       [5800. ,  167.5],
       [5200. ,  181.7],
       [5500. ,  186.6],
       [5000. ,  168.8],
       [4800. ,  158.7],
       [5200. ,  170.2],
       [4500. ,  199.2],
       [5200. ,  165.6],
       [4800. ,  188.8],
       [5100. ,  188.8],
       [4800. ,  177.8],
       [4500. ,  171.7],
       [4500. ,  175.6],
       [5000. ,  175. ],
       [4800. ,  173.6],
       [5400. ,  158.8],
       [5250. ,  186.6],
       [4800. ,  176.2],
       [5000. ,  159.1],
       [4250. ,  189. ],
       [4500. ,  180.2],
       [5000. ,  174.6],
       [5500. ,  188.8]])

In [99]:
y_train

90      9.980
173    18.150
93     12.290
5      15.250
167    15.580
        ...
106     5.195
14     24.565
92     13.845
179     8.921
102    21.485
Name: price, Length: 153, dtype: float64

In [100]:
from sklearn.linear_model import Lasso
clf = Lasso(alpha = 0.1, max_iter = 10000)

In [101]:
clf.fit(X_train, y_train)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=10000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [102]:
print(clf.coef_)
print(clf.intercept_)

[0.00118618 0.48141922]
-76.60821967472445

In [103]:
clf.score(X_test, y_test)

0.383128710392046

In [108]:
from sklearn.linear_model import Lasso
val = [0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4]
for i in val:
    clf = Lasso(alpha = i, max_iter = 10000)
    clf.fit(X_train, y_train)
    print(clf.score(X_test, y_test))

0.38409727321522547
0.38524583132772194
0.38632533897746424
0.387335796164454
0.38827720288869
0.3891495591501724
0.38995286494890136
0.3906871202848768

In [110]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators = 100, random_state = 42)
reg.fit(X_train, y_train)
pred = reg.predict(X_test)

from sklearn.metrics import mean_absolute_error
acc = mean_absolute_error(pred, y_test)
print(acc)

2.621903543948133